* { margin: 0; padding: 0; font-family: sans-serif; }
html { color: black; background-color: #eeeeec ; padding: 2em; }
body {
    line-height: 1.5; width: 800px; margin: auto;
       -moz-box-shadow: 0px 0px 10px #888;
    -webkit-box-shadow: 0px 0px 10px #888;
            box-shadow: 0px 0px 10px #888;
    }
header, footer { clear: both; color: black; background-color: #d3d7cf; color: black; padding: 10px 20px; }
#graph, #controls { height: 494px; }
#graph { color: black; background-color: white; float: left; width: 494px !important; overflow: scroll; }
#controls { float: right; width: 306px; }
body > section > * { margin: 10px 20px; }
section, header, footer { display: block; }
section + section { margin-top: 1em; }
body > header > h1 { font-size: 2em; text-align: center; }
section h1 { font-size: 1.5em; }
table * { vertical-align: middle; }
table td + td, form button, form input { padding: 5px; }
table td button { float: right; }
form table input { width: 90%; }
iframe { border: none; }
.right { float: right; }
.edit, input[type=submit] { width: 100%; }
input[type=submit] { padding: 10px; margin-top: 10px; }
.url { opacity: 0.5; vertical-align:baseline; }
.url::after { content: ">"; }
.url::before { content: "<"; }
.author { opacity: 0.5; }
.author::after { content: ")"; }
.author::before { content: "("; }
